<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    {% load static %}
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style_home.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
</head>
<body>
    <header>
         <nav>
            <ul class="drop-down-menu">
                <li><a href="#reservation" data-translate="預約系統">預約系統</a></li>
                <li><a href="#notations" data-translate="注意事項">注意事項</a></li>
                <li><a href="#questions" data-translate="常見問題">常見問題</a></li>
                <li class="welcome" data-translate="歡迎">歡迎，{{ username }}</li>
                <li>{{ username }}</li>
                <select id="languages">
                  <option value="zh">中文</option>
                  <option value="en">English</option>
                </select>
              <li><a class="#padding"></a></li>
              
           </ul>
        </nav>
    </header>
  
  <main>
        <section id="hero">
            <h1 data-translate="歡迎來到琴房預約系統">歡迎來到琴房預約系統</h1>
            <p data-translate="若您是第一次使用，請閱讀以下注意事項">若您是第一次使用，請閱讀以下注意事項</p>
            <p></p>
            <a href="#notations" class="btn" data-translate="注意事項">注意事項</a>
        </section>

        <section id="reservation">
            <h2 data-translate="預約系統">預約系統</h2>
            <dialog id="myDialog">
              <p>開發中</p>
              <button onclick="closeDialog()">關閉</button>
            </dialog>
          <h3>大琴房</h3>
          <div class="button-container">
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
          </div>
          <h3>中琴房</h3>
          <div class="button-container">
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
          </div>
          <h3>小琴房</h3>
          <div class="button-container">
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
          </div>
          <h3>社窩</h3>
          <div class="button-container">
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
              <a class="reservation-btn" onclick="openDialog()"></a>
          </div>
        </section>

        <section id="notations">
         <h2 data-translate="注意事項">注意事項</h2>
          <p data-translate="每人每周不得預約超過七小時，違規者系統自動取消。">1.每人每周不得預約超過七小時，違規者系統自動取消。</p>
          <p data-translate="為達使用琴房效率最大化，預約後若無法到場請記得取消預約">2.為達使用琴房效率最大化，預約後若無法到場請記得取消預約</p>
          <p data-translate="開完琴房後鑰匙請記得掛回社窩，並鎖上門。">3.開完琴房後鑰匙請記得掛回社窩，並鎖上門。</p>
          <p data-translate="離開琴房時請記得關燈、鎖門。">4.離開琴房時請記得關燈、鎖門。</p>
          <p data-translate="有任何問題請聯絡網管。">5.有任何問題請聯絡網管。</p>
        </section>

        <section id="questions">
            <h2 data-translate="常見問題">常見問題</h2>
            
        </section>
    </main>

    <footer>
        <p data-translate="中央鋼琴社預約系統">中央鋼琴社預約系統>中央鋼琴社預約系統</p>
    </footer>
    <script src="{% static 'js/scroll.js' %}"></script>
</body>
</html>
