<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入頁面</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_Login.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <h1>登入</h1>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">名子</label>
                <input type="text" id="name" name="name" placeholder="輸入您的使用者名稱" required>
            </div>
            <div class="form-group">
                <label for="password">密碼(第一次登入會是學號)</label>
                <input type="password" id="student_id" name="student_id" placeholder="輸入您的密碼" required>
            </div>
            <button type="submit" class="login-btn">登入</button>
        </form>
    </div>
    {% if error_message %}
        <p style="color:red;">{{ error_message }}</p>
        <p style="color:red;">忘記密碼請聯繫網管</p>
    {% endif %}
</body>
</html>
