<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人中心</title>

    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style_Profile.css' %}">
    <!-- <script src="{% static 'js/scroll.js' %}"></script> -->
</head>
<body>
    <header>
        <nav>
            <ul class="drop-down-menu">
                <!-- <select id="languages">
                    <option value="zh">中文</option>
                    <option value="en">English</option>
                </select> -->
            </ul>
        </nav>
    </header>
    <p class="inform" data-translate="(返回上一頁以回到主頁)">(返回上一頁回到主業)</p>
    <div class="profile-container">
        <div class="profile-header">
            <h1 data-translate="個人中心">個人中心</h1>
        </div>

        <div class="profile-info">
            <div class="profile-details">
                <p><strong data-translate="姓名">姓名：</strong> <span id="user-name">{{ username }}</span></p>
                <!-- <p><strong data-translate="密碼">密碼：</strong> <span id="user-password" style="display: none;">{{ password }}</span> 
                    <button class="show-btn" onclick="togglePassword()" id="toggle-password-btn" data-translate="顯示">顯示</button>
                </p>  -->
                <p><strong data-translate="本週預約次數">本週預約次數：</strong> <span id="user-reservations">{{ reserveLimit }}</span> / 14</p>
                <a class="change-password-btn" href="{% url 'change_password'%}" data-translate="修改密碼">修改密碼</a>
                <a class="logout-btn" href="{% url 'logout'%}" data-translate="登出">登出</a>
            </div>
        </div>

        <div class="reservation-history">
            <h2 data-translate="預約紀錄">預約紀錄</h2>
            <table>
                <thead>
                    <tr>
                        <th data-translate="日期">日期</th>
                        <th data-translate="時間">時間</th>
                        <th data-translate="地點">地點</th>
                    </tr>
                </thead>
                <tbody id="reservation-list">
                    <!-- 預約紀錄將由 JavaScript 動態生成 -->
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let reservations = JSON.parse('{{ reservations|escapejs }}');
    </script>
    <script src="{% static 'js/Profile.js' %}"></script>
</body>
</html>
